@page
@model WebappRazordemo.MyRazorpageModel
@{
    ViewData["Title"] = "MyRazorpage";
}

<h1>MyRazorpage</h1>


<input id="Text1" type="text" />

<input id="Button1" type="button" value="button" />
<input id="Submit1" type="submit" value="submit" />