
@{
    ViewData["Title"] = "Customer";
}

<h1>Customer</h1>

    <table style="width:100%">
        <tr>
            <th>CustomerId</th>
            <th>cust_name</th>
            <th>Cst_city</th>
            <th>email</th>
        </tr>
        <tr>
            <td>1</td>
            <td>teju</td>
            <td>Gnp</td>
            <td>teju@gmail.com</td>
        </tr>
        <tr>
            <td>2</td>
            <td>ambi</td>
            <td>vjy</td>
            <td>ambi@gmail.com</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Vish</td>
            <td>cht</td>
            <td>vish@gmail.com</td>
        </tr>
        <tr>
            <td>4</td>
            <td>anu</td>
            <td>nlr</td>
            <td>anu@gmail.com</td>
        </tr>
    </table>
